*.env
env/
venv/
__pycache__/
*.py[cod]
*.pdb
*.egg-info/
dist/
build/
eggs/
*.egg
*.whl
*.pyc
*.pyo
*.pyd
.idea/
.vscode/
*.log
*.json
data/
allowed_contacts.txt
token.json
cal_token.json
credentials.json
drive_token.json