<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>WhatsApp Bot Server</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>WhatsApp Bot Server Configuration</h1>
        
        <!-- Notificação via JavaScript -->
        <div id="notification" class="notification" style="display:none;"></div>
        
        <form method="post" action="{{ url_for('index') }}">
            <div class="config-section">
                <h2>Global Answer</h2>
                <label>
                    Enable Personal Responses:
                    <input type="checkbox" name="enable_responses" {% if config.enable_responses == 'true' %}checked{% endif %}>
                </label>
            </div>
            <div class="config-section">
                <h2>Group Configuration</h2>
                <label>
                    Enable Group Responses:
                    <input type="checkbox" name="enable_group_responses" {% if config.enable_group_responses == 'true' %}checked{% endif %}>
                </label>
            </div>
            
            <div class="config-section">
                <h2>ALLOWED CONTACTS</h2>
                <table>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Enabled</th>
                        <th>Actions</th>
                    </tr>
                    {% for contact in allowed_contacts %}
                    <tr>
                        <td>{{ contact.contact }}</td>
                        <td>{{ contact.name }}</td>
                        <td>
                            <input type="checkbox" name="enabled_{{ contact.contact }}" {% if contact.enabled %}checked{% endif %}>
                        </td>
                        <td>
                            <button type="submit" name="delete_contact" value="{{ contact.contact }}" class="delete-button">X</button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <label>Add New Contact:</label><br>
                <input type="text" name="new_contact" placeholder="Enter number">
                <input type="text" name="new_contact_name" placeholder="Enter name">
            </div>
            <br>
            <button type="submit">Save Settings</button>
        </form>
        
        <div class="log-section">
            <h2>Sent Messages Log</h2>
            <div class="log-div"><pre>{{ log_sent_content }}</pre></div>
        </div>        
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
      // Show notification if there's a message in the URL
      const urlParams = new URLSearchParams(window.location.search);
      const message = urlParams.get('message');
      if (message) {
          const notificationDiv = document.getElementById("notification");
          notificationDiv.textContent = message;
          notificationDiv.style.display = "block";
          setTimeout(() => {
              notificationDiv.style.display = "none";
          }, 3000);
      }
    </script>
</body>
</html>
